<!-- create_bracket_form.html -->
{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <h1>Create Bracket</h1>
    <form id="create-bracket-form" method="post" action="{% url 'create_first_four' %}">
        {% csrf_token %}
        <label for="seedlist">Select a SeedList:</label>
        <select id="seedlist" name="seedlist">
            {% for seedlist in seed_lists %}
                <option value="{{ seedlist.id }}">{{ seedlist.tournament.year }} - {{ seedlist.tournament.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Create Bracket</button>
    </form>
    <script src="{% static 'create_bracket.js' %}"></script>
{% endblock %}