<!-- display_bracket.html -->
{% extends "base_generic.html" %}

{% block content %}
    <h1>Bracket: {{ bracket.uuid }}</h1>
    <h2>Games</h2>
    <ul>
        {% for game in games %}
            <li>
                Game Number: {{ game.game_number }} - {{ game.team1.name }} vs {{ game.team2.name }}
                {% if game.winner %}
                    - Winner: {{ game.winner.name }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <h2>Predictions</h2>
    <ul>
        {% for prediction in predictions %}
            <li>
                Game: {{ prediction.game.team1.name }} vs {{ prediction.game.team2.name }}
                - Predicted Winner: {{ prediction.predicted_winner.name }}
            </li>
        {% endfor %}
    </ul>
    <form method="post" action="{% url 'delete_bracket' id=bracket.id %}">
        {% csrf_token %}
        <input type="submit" value="Delete Bracket">
    </form>
{% endblock %}