{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% trans 'Generate Brackets' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row">
                <div>
                    <label for="tournament">Tournament:</label>
                    <select name="tournament" id="tournament" required>
                        <option value="">---------</option>
                        {% for tournament in tournaments %}
                        <option value="{{ tournament.id }}">{{ tournament.name }} ({{ tournament.year }})</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label for="strategy">Strategy:</label>
                    <select name="strategy" id="strategy" required>
                        <option value="">---------</option>
                        {% for strategy in strategies %}
                        <option value="{{ strategy.value }}">{{ strategy.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label for="num_brackets">Number of Brackets:</label>
                    <input type="number" name="num_brackets" id="num_brackets" min="1" value="1" required>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label for="user_prefix">User Prefix:</label>
                    <input type="text" name="user_prefix" id="user_prefix" value="AutoGen" required>
                    <p class="help">This will be used to create usernames for the generated brackets (e.g., "AutoGen_1", "AutoGen_2", etc.)</p>
                </div>
            </div>
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="Generate Brackets" class="default">
            <a href="{% url 'admin:index' %}" class="button cancel-link">Cancel</a>
        </div>
    </form>
</div>
{% endblock %} 